<div class="container mainContainer" ng-if="mainCtrl.isLoggedIn()">

     <div class="alert alert-success" id="flashMessageAlert" role="alert" ng-if="mainCtrl.currentMessage !== ''">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{mainCtrl.currentMessage}}
    </div>
    


    <!-- Heading Row -->
    <div class="row">
        <div class="col-md-8">
            <img class="img-responsive" src="app/assets/images/intro-syfax.jpg" alt="">
        </div>
        <!-- /.col-md-8 -->
        <div class="col-md-4">

            
            
            <p>{{mainCtrl.getUserData().name}}</p>

            <h2>Καλως Ήρθατε στο Σύστημα Παραγγελιών B2B</h2>
            
            <a class="btn btn-primary btn-lg" ui-sref="prosfores">Νέα Παραγγελία</a>
        </div>
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <hr>

    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            

            <blockquote class="syfax">
                <p>Μέσω της ιστοσελίδας μας μπορείτε να αναζητήσετε της πιο πρόσφατες προσφορές Φαρμάκων, ΜΗΣΥΦΑ και Παραφαρμάκων του συνεταιρισμού μας.</p>
               <!-- <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>-->
            </blockquote>


        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-md-4">
            <h2>Τρόπος λειτουργίας</h2>
            <p>Το σύστημα παραγγελιων B2B ανανεώνεται καθημερινά με τις πιο πρόσφατες προσφορές Φαρμάκων, ΜΗΣΥΦΑ και Παραφαρμάκων.</p>
            <a class="btn btn-default" href="#">Περισσότερα</a>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4">
            <h2>Οδηγός χρήσης</h2>
            <p>Κατεβάστε τις οδηγίες χρήσης του συστήματος Β2Β, με αναλυτικα βήματα για την πραγματοποίηση των παραγγελιών σας.</p>
            <a class="btn btn-default" href="#">Περισσότερα</a>
        </div>
        <!-- /.col-md-4 -->
         <div class="col-md-4">
            <h2>Επικοινωνία</h2>
            <p>Για οποιοδήποτε πρόβλημα ή απορία, παρακαλώ επικοινωνήστε με τα γραφεία του ΣΥ.ΦΑ.Χ., ή απευθείας μέσω email.</p>
            <a class="btn btn-default" href="http://www.syfachanion.gr/%CE%B5%CF%80%CE%B9%CE%BA%CE%BF%CE%B9%CE%BD%CF%89%CE%BD%CE%AF%CE%B1/">Επικοινωνία</a>
        </div>
       
        <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
            
                <img src="http://b2b.syfachanion.com/img/laxanay.jpg" alt="laxanay" width="1170" height="223" style="margin-top:20px; margin-bottom:20px;">
            
            </div>
        </div>
    </footer>

    <script>
        window.setTimeout(function() {

            $("#flashMessageAlert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
                
            });
        }, 2000);
    </script>

</div>

