<div class="container orders_detailsContainer">

    <div class="items_wrapper well">
        <h2 class="items_header">ΟΙ ΠΑΡΑΓΓΕΛΙΕΣ ΣΑΣ</h2>
    
        <table id="orders_table" class="table table-striped table-bordered">

            <thead>
                <tr>
                    <td># ΠΑΡΑΓΓΕΛΙΑΣ</td>
                    <td>ΟΝΟΜΑ ΠΡΟΣΦΟΡΑΣ</td>
                    <!--<td>ΣΥΝΟΛΟ ΠΡΟΙΟΝΤΩΝ</td>-->
                    <!--<td>ΚΑΘΑΡΗ ΑΞΙΑ</td>-->
                    <td>ΗΜ. ΚΑΤΑΧΩΡΗΣΗΣ</td>
                    <td>ΕΝΕΡΓΕΙΕΣ</td>
                    <td>ΤΙΜΟΛΟΓΙΟ</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "order in ordersCtrl.orders | orderBy: '-order_date' " id="order_{{order.id}}">
                    <td>{{order.id}}</td>
                    <td ng-bind-html="order.prosfora_title"></td>
                    <td>{{order.order_date}}</td>
                    <td>
                        <a ng-if="order.status == 0" class="summary" ui-sref="summary({id:order.id})" text="Δείτε τη σύνοψη της παραγγελία με κωδικό #{{order.id}}">
                            Σύνοψη παραγγελίας # {{order.id}}
                        </a>

                        <a ng-if="order.status == 1" class="edit" ui-sref="edit({id:order.id})" text="Επεξεργασία της παραγγελία με κωδικό #{{order.id}}">
                            Επεξεργασία παραγγελίας #{{order.id}}
                        </a>
                       
                    </td>
                    <td>
                        
                        <button type="button" class="btn btn-default btn-sm" ng-if="order.timologia_count >0 " ng-click="ordersCtrl.getTimologio(order.id)">
                            <span class="glyphicon glyphicon-save" aria-hidden="true"></span> 
                        </button>

                        <span ng-if="order.timologia_count == 0 ">-</span>

                    </td>
                </tr>
            </tbody>

        </table>

    </div>


</div>

    