<div class="container orders_detailsContainer">

    <div class="items_wrapper well">
        <h2 class="items_header">Σύνοψη παραγγελίας με αριθμό #{{ordersCtrl.orderId}}</h2>
    
        <div ng-if = "ordersCtrl.comesFromPost" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            Η παραγγελία <p style="display: inline;"><b>#{{ordersCtrl.orderId}} </b></p>εστάλη με επιτυχία!!
        </div>

        <div class="row">
            <table class="table table-striped table-bordered" id="order_summary">
                <tbody>
                    <tr>
                        <th><center>ΠΕΡΙΓΡΑΦΗ</center></th>
                        <th><center>ΤΙΜΗ ΜΕ ΕΚΠΤΩΣΗ</center></th>
                        <th><center>ΠΟΣΟΤΗΤΑ</center></th>
                        <th><center>ΤΕΛΙΚΗ ΤΙΜΗ</center></th>

                    </tr>
                    <tr ng-repeat="item in ordersCtrl.order | orderBy:'item_name'">
                        <td>{{item.item_name}}</td>
                        <td>{{item.price_in_order }}</td>
                        <td>{{item.quantity}}</td>
                        <td>{{ordersCtrl.getTotal(item)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row text-right">
            <div class="col-lg-12">
                <p class="inline">Καθαρή Αξία Παραγγελίας: </p>
                <p class="inline-value">{{ordersCtrl.getSynolikiAksiaParaggelias()}}</p>
            </div>
        </div>
        <div class="row text-right ">
            <div class="col-lg-12">
                <p class="inline">ΦΠΑ: </p>
                <p class="inline-value">{{ordersCtrl.getFPA().fpa_total}}</p>
            </div>
        </div>
        <hr>
        <div class="row text-right">
            <div class="col-lg-12">

                <p class="inline"><strong>ΣΥΝΟΛΟ:</strong> </p>
                <p class="inline-value"><strong>{{ordersCtrl.total()}}</strong></p>
            </div>
        </div>

        
        <div class="row text-right" style="display: none">
            <div class="col-lg-12">
                <p>
                ΦΠΑ: {{ordersCtrl.getFPA().fpa_total}}<br>
                <span>--></span> 6% {{ordersCtrl.getFPA().fpa_6}}<br>
                <span>--></span> 13% {{ordersCtrl.getFPA().fpa_13}}<br>
                <span>--></span> 24% {{ordersCtrl.getFPA().fpa_24}}<br>
                </p>

            </div>
        </div>

        <div class="row text-right" style="display: none">
            <div class="col-lg-12">
                <p>
                ΠΦΣ: {{ordersCtrl.getPfs()}}<br>
                <span>--></span> ΦΠΑ ΠΦΣ: {{ordersCtrl.getPfsFPA()}}<br>
                </p>
            </div>
        </div>
            
      
        
        <hr>
        
        

    </div>


</div>