<div class="container prosfora_detailsContainer ">

    <div class="items_wrapper well">
        <h2 class="items_header">ΠΡΟΙΟΝΤΑ ΠΑΡΑΓΓΕΛΙΑΣ</h2>

        <center class="little-margin">Παρακαλώ επεξεργαστείτε τα προϊόντα της παραγγελίας σας.</center>

        <div class="alert alert-warning" ng-if="pendingsCtrl.discounts.length > 0">
            <label ng-repeat="discount in pendingsCtrl.discounts" class="checkbox-inline">
                <input type="radio" id="troposPlhromis" 
                ng-model="pendingsCtrl.discountValue" 
                ng-change="pendingsCtrl.discountChange()" ng-disabled="(pendingsCtrl.discounts.length === 1)" 
                name="troposPlhromhs" 
                ng-value="discount.value" > {{discount.text}}
            </label>

        </div>

        <div class = "" ng-if="pendingsCtrl.cart.invalids.length > 0">

            <div class="col-lg-12 text-danger alert alert-danger">
                <p style="text-align: left">Έχετε επιλέξει τα παρακάτω προιόντα με <strong>λανθασμένες</strong> ελάχιστες ποσότητες:
                <dl class="dl-horizontal "  >
                    <dt ng-repeat-start="i in pendingsCtrl.cart.invalids" >{{i.item_code}}</dt>
                    <dd ng-repeat-end class="col-lg-4">{{i.item_name}}</dd>
                </dl>
                </p>
            </div>

        </div>

        <div ng-hide = "true">
        KALATHI
        <br>
        {{pendingsCtrl.cart.items}}
        <br>
        <hr>
        <strong>invalids:</strong>
        {{pendingsCtrl.cart.invalids}}
        </div>


        
        <form name="theForm" novalidate>
                    
            <table id="prosfora_items" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="display:none; width:10%;"><center>ID</center></th>
                        <th style="width:10%;    text-align: center;">
                            <center>
                                ΚΩΔΙΚΟΣ ΠΡΟΙΟΝΤΟΣ<br>
                                <input ng-model="pendingsCtrl.itemCodeFilter">
                               
                                </center>
                                
                        </th>
                        <th>
                            <center>
                                ΠΕΡΙΓΡΑΦΗ <br>
                                <input ng-model="pendingsCtrl.itemNameFilter">
                            </center>
                        </th>
                        <th style="width:10%;    text-align: center;"><center>ΑΡΧΙΚΗ TIMH</center></th>
                        
                        <th style="width:10%;    text-align: center;"><center>ΤΙΜΗ ΜΕ ΕΚΠΤΩΣΗ</center></th>
                        <th ng-if="pendingsCtrl.discounts.length === 0" style="width:10%;    text-align: center;"><center>ΠΟΣΟΣΤΟ ΕΚΠΤΩΣΗ</center></th>
                        <th style="width:20%;    text-align: center;"><center>ΠΟΣΟΤΗΤΑ</center></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in filterData = (pendingsCtrl.order 
                    | filter:{ item_name: pendingsCtrl.itemNameFilter,  item_code: pendingsCtrl.itemCodeFilter } )
                    | limitTo:pendingsCtrl.itemsPerPage:pendingsCtrl.itemsPerPage*(pendingsCtrl.currentPage-1)">
                    
                        <td style="display:none">{{item.item_id}}</td>
                        <td>{{item.item_code}}</td>
                        <td>{{item.item_name}}</td>
                        <td>{{item.price_katharo}}</td>
                        <td>{{item.price_in_order}}</td>
                        <td ng-if="pendingsCtrl.discounts.length === 0" >{{item.item_discount}} %</td>
                        <td>
                            
                            <span class="custom-alert alert-warning" id="item_tip{{item.item_id}}" style="display: none">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                μεγάλη ποσότητα
                            </span>
                            
                            <input
                                class="quantity_input"
                                id="item{{item.item_id}}"
                                ng-form
                                name="theInput{{item.item_id}}"
                                dynamic-form-name dnfn-name-expression="'theInput' + item.item_id" 
                                ng-min="{{item.min_quantity}}"
                                data-anamonh="true"
                                check-for-min
                                type="number"
                                ng-change = "pendingsCtrl.addItem(item, this, theForm['theInput' + item.item_id].$valid)"
                                placeholder="ελάχιστος αριθμός {{item.min_quantity}}"
                                ng-model="item.quantity" string-to-number>

                                <div class="custom-alert-2 alert-danger" ng-if="theForm['theInput' + item.item_id].$invalid ">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                    ελάχιστη ποσότητα :{{item.min_quantity}}
                                </div>    

                        </td>
                        
                    </tr>
                </tbody>
            </table>

        </form>

        <div class="row">

            <div class="form-inline col-md-4 text-left">
                <div class="form-group ">
                    <label>Προϊόντα ανά σελίδα:</label>
                    <select ng-model="pendingsCtrl.itemsPerPage" id="pageSize" class="form-control  input-group-sm">
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                </div>
                
            </div>


            <div class="col-md-5">
                <uib-pagination rotate = "false" max-size="5" class="pagination-sm pagination" total-items="filterData.length" ng-model="pendingsCtrl.currentPage"
			        previous-text="Προηγούμενη" next-text="Επόμενη" items-per-page="pendingsCtrl.itemsPerPage">
                </uib-pagination>
             </div>
             
        </div>

        <div class="row" >
            <div class="col-md-12 text-right">ΣΥΝΟΛΟ: {{pendingsCtrl.cart.totalCost()}} &euro;</div>
            <div class="col-md-12 text-right">
            
                
                <button type="button" ng-disabled="pendingsCtrl.cart.invalids.length > 0" class="btn btn-default" data-toggle="modal" data-target="#confirm-pending-submit">Προσωρινή Αποθήκευση</button>

                <button type="button" 

                ng-disabled="pendingsCtrl.cart.invalids.length > 0 || (pendingsCtrl.prosfora.category === '20' && pendingsCtrl.cart.totalCost() < 500)|| (pendingsCtrl.prosfora.category === '24' && pendingsCtrl.cart.totalCost() < 500) || (pendingsCtrl.prosfora.category === '27' && pendingsCtrl.cart.totalCost() < 500)|| (pendingsCtrl.prosfora.category === '32' && pendingsCtrl.cart.totalCost() < 600) || (pendingsCtrl.prosfora.category === '36' && pendingsCtrl.cart.totalCost() < 500)|| (pendingsCtrl.prosfora.category === '39' && pendingsCtrl.cart.totalCost() < 300)  " class="btn btn-success" 
                data-toggle="modal" data-target="#confirm-submit">Αποστολή Παραγγελίας</button>
            </div>
        </div>


    </div>

</div>

<div id="confirm-pending-submit" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2s" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="items_header">
                  <center><b>Επιβεβαίωση Προσωρινής Αποθήκευσης</b></center>
              </h4>
          </div>
          <div class="modal-body">
            <p>Η παραγγελία σας θα μείνει σε αναμονή. Είστε σίγουροι?</p>
            
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-success" ng-click="pendingsCtrl.submitForm(theForm, true)" id="btnUpdatePendingOrder">Ναί</button>
            <button type="button" data-dismiss="modal" class="btn">Άκυρο</button>
        </div>        
      </div>
  </div>
</div>



<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="items_header">
                    <center><b>ΟΛΟΚΛΗΡΩΣΗ ΠΑΡΑΓΓΕΛΙΑΣ</b></center>
                </h4>
            </div>
            <div class="modal-body">

                
                <scrollable-table watch="pendingsCtrl.cart.items">
                    <table id="previewOrderTable" class="table table-striped table-bordered" ng-class="pendingsCtrl.cart.items.length === 0 ? 'empty-table' : ''">
                        <thead>
                            <tr>
                                <th sortable-header col="item_name">Περιγραφή</th>
                                <th sortable-header col="price_discount">Τιμή Μονάδος με έκπτωση</th>
                                <th sortable-header col="new_quantity">Ποσότητα</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "proion in pendingsCtrl.cart.items">
                                <td class="name">{{proion.item_name}}</td>
                                <td class="price">{{proion.price_in_order}}</td>
                                <td class="quantity">{{proion.quantity}}</td>
                            </tr>
                            <tr class="empty" ng-if="pendingsCtrl.cart.items.length === 0"><td class="col-xs-12" colspan="6"><center>Η παραγγελία σας είναι άδεια</center></td></tr>
                        </tbody>
                    </table>
                </scrollable-table>
                <div class="row" >
                    <div class="col-md-6 text-left">
                        <i id="troposplirwmis" style="float:left;">
                            Έκπτωση: 
                            <span ng-if="pendingsCtrl.discountValue !=0">{{pendingsCtrl.discountValue}}%</span>
                            <span ng-if="pendingsCtrl.discountValue ==0 && pendingsCtrl.prosfora.category !== '6'">Κανονική Πληρωμή</span>
                            <span ng-if="pendingsCtrl.discountValue ==0 && pendingsCtrl.prosfora.category === '6'">Διαφορετική ανά προϊον</span>
                            
                        </i>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            Σύνολο προιόντων: {{pendingsCtrl.cart.totalProioda()}}
                        </p>
                        <p>
                            Καθαρή αξία παραγγελίας: {{pendingsCtrl.cart.totalCost()}} &euro;
                        </p>
                        
                    </div>
                    
                </div>
                                

            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col-md-12">
                        <img ng-if="pendingsCtrl.dataLoading === true" 
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" style="
                        float: left;
                        ">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ακύρωση</button>
                        <button type="button" ng-click="pendingsCtrl.submitForm(theForm)"  id="finalsubmit" ng-disabled = "pendingsCtrl.acceptTerms === false || (pendingsCtrl.cart.items.length === 0 || pendingsCtrl.dataLoading === true)" class="btn btn-success">Καταχώρηση Παραγγελείας</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" id="terms_check" ng-click="pendingsCtrl.toggleSelection($event, item.name)">
                        <span style="font-size: 12px;">Αποδέχομαι πλήρως τους <a ui-sref="terms" rel="noopener noreferrer" target="_blank">όρους χρήσης</a> της εφαρμογής.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

