<div class="container orders_detailsContainer">

    <div class="items_wrapper well">
        <h2 class="items_header">ΠΡΟΣΩΡΙΝΑ ΑΠΟΘΗΚΕΥΜΕΝΕΣ ΠΑΡΑΓΓΕΛΙΕΣ</h2>
    
        <table id="orders_table" class="table table-striped table-bordered">

            <thead>
                <tr>
                    <td># ΠΑΡΑΓΓΕΛΙΑΣ</td>
                    <td>ΟΝΟΜΑ ΠΡΟΣΦΟΡΑΣ</td>

                    <td>ΗΜ. ΚΑΤΑΧΩΡΗΣΗΣ</td>
                    <td>ΕΝΕΡΓΕΙΕΣ</td>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat = "order in pendingsCtrl.orders | orderBy: '-order_date' " id="order_{{order.id}}">
                    <td>{{order.id}}</td>
                    <td ng-bind-html="order.prosfora_title"></td>
                    <td>{{order.order_date}}</td>
                    <td ng-disabled="true">
                        <!--<span>Υπό Κατασκευή</span>-->
                        <a class="edit btn btn-default btn-sm"  ui-sref="pending_edit({order_id:order.id})" text="Επεξεργασία της παραγγελία με κωδικό #{{order.id}}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Επεξεργασία
                        </a>

                        <button type="button" class="btn btn-default btn-sm" ng-click="pendingsCtrl.open(order.id, null)">
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Διαγραφή
                        </button>
                       
                    </td>
                    
                </tr>
            </tbody>

        </table>

    </div>


</div>



<div id="confirm-pending-delete" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2s" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="items_header">
                  <center><b>Επιβεβαίωση Ακύρωσης Προσωρινής Παραγγελίας</b></center>
              </h4>
          </div>
          <div class="modal-body">
            <p>Η παραγγελία σας θα ακυρωθεί. Είστε σίγουροι?</p>
            
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-success" ng-click="pendingsCtrl.deletePending(theForm, true)" id="btnDeletePendingOrder">Ναί</button>
            <button type="button" data-dismiss="modal" class="btn">Άκυρο</button>
        </div>        
      </div>
  </div>
</div>

<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
       
        <h4 class="items_header">
            <center><b>Επιβεβαίωση Ακύρωσης Προσωρινής Παραγγελίας</b></center>
        </h4>
        
    </div>
    <div class="modal-body">
        <p>Η παραγγελία σας θα ακυρωθεί. Είστε σίγουροι?</p>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok(item)">Ναι</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Όχι</button>
    </div>
</script>