<div class="container prosforesContainer ">

    <div class="items_wrapper well">
        <h2 class="items_header">ΕΝΕΡΓΕΣ ΠΡΟΣΦΟΡΕΣ</h2>

        <div class="list-group">
            <a ng-repeat="prosfora in prosforesCtrl.prosfores" class="list-group-item list-group-item-action" 
            ui-sref="view({id:prosfora.prosfora_id})" text="Δείτε την προσφορά {{prosfora.prosfora_title}}">
                <span ng-bind-html="prosfora.prosfora_title"></span>
            </a>
        </div>

        
    </div>
   

</div>


    