<div class="container prosfora_detailsContainer ">

    <div class="items_wrapper well">
        <h2 class="items_header">
                <span ng-bind-html="prosforaDetailsCtrl.prosfora_title"></span>
        </h2>


        <div class="alert alert-info" ng-if="prosforaDetailsCtrl.comment !== ''">
            <p ng-bind-html="prosforaDetailsCtrl.comment"></p>
        </div>

        

        <div class="alert alert-warning" ng-if="prosforaDetailsCtrl.discounts.length > 0">
            <label ng-repeat="discount in prosforaDetailsCtrl.discounts" class="checkbox-inline">
                <input type="radio" id="troposPlhromis" 
                ng-model="prosforaDetailsCtrl.discountValue" 
                ng-change="prosforaDetailsCtrl.discountChange()" 
                ng-disabled="(prosforaDetailsCtrl.discounts.length === 1 || prosforaDetailsCtrl.category === '21' || prosforaDetailsCtrl.category === '23'|| prosforaDetailsCtrl.category === '25' || prosforaDetailsCtrl.category === '26'|| prosforaDetailsCtrl.category === '28'|| prosforaDetailsCtrl.category === '29'|| prosforaDetailsCtrl.category === '30'|| prosforaDetailsCtrl.category === '31'|| prosforaDetailsCtrl.category === '33' || prosforaDetailsCtrl.category === '34'|| prosforaDetailsCtrl.category === '35'|| prosforaDetailsCtrl.category === '37'|| prosforaDetailsCtrl.category === '38'|| prosforaDetailsCtrl.category === '40'|| prosforaDetailsCtrl.category === '41'|| prosforaDetailsCtrl.category === '42'||prosforaDetailsCtrl.category === '43')" 
                name="troposPlhromhs" 
                ng-value="discount.value" > {{discount.text}}
            </label>

        </div>


        <div class = "" ng-if="prosforaDetailsCtrl.cart.invalids.length > 0">

            <div class="col-lg-12 text-danger alert alert-danger">
                <p style="text-align: left">Έχετε επιλέξει τα παρακάτω προιόντα με <strong>λανθασμένες</strong> ελάχιστες ποσότητες:
                <dl class="dl-horizontal "  >
                    <dt ng-repeat-start="i in prosforaDetailsCtrl.cart.invalids" >{{i.item_code}}</dt>
                    <dd ng-repeat-end class="col-lg-4">{{i.item_name}}</dd>
                </dl>
                </p>
            </div>

        </div>

        <div ng-if="prosforaDetailsCtrl.category === '10' && prosforaDetailsCtrl.customInvalid == true">
            <div class="col-lg-12 text-danger alert alert-danger">
                <p>{{prosforaDetailsCtrl.customInvalidMsg}}</p>
            </div>
        </div>

        <center class="little-margin">
            
            Παρακαλώ επιλέξτε προϊόντα για την παραγγελίας σας.

            <br>
            <!--
            <ul class="list-group" ng-if = "prosforaDetailsCtrl.category === '10'">
                <li class="list-group-item" ng-repeat="discount in prosforaDetailsCtrl.prosforaDiscountOptions">
                    Συνολική Ποσότητα {{discount.q}}, Έκπτωση {{discount.d}}
                </li>
                
            </ul>
            -->
        </center>


        <form name="theForm" novalidate>
            
            <table id="prosfora_items" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="display:none; width:10%;"><center>ID</center></th>
                        <th style="width:10%;    text-align: center;">
                            <center>
                                ΚΩΔΙΚΟΣ ΠΡΟΙΟΝΤΟΣ<br>
                                <input ng-model="prosforaDetailsCtrl.itemCodeFilter">
                                </center>
                            </th>
                        <th>
                            <center>
                                ΠΕΡΙΓΡΑΦΗ <br>
                                <input ng-model="prosforaDetailsCtrl.itemNameFilter">
                            </center>
                        </th>
                        <th style="width:10%;    text-align: center;"><center>ΑΡΧΙΚΗ TIMH</center></th>
                        
                        <th style="width:10%;    text-align: center;"><center>ΤΙΜΗ ΜΕ ΕΚΠΤΩΣΗ</center></th>
                        <th ng-if="prosforaDetailsCtrl.discounts.length === 0" style="width:10%;    text-align: center;"><center>ΠΟΣΟΣΤΟ ΕΚΠΤΩΣΗ</center></th>
                        <th style="width:20%;    text-align: center;"><center>ΠΟΣΟΤΗΤΑ</center></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="item in filterData = (prosforaDetailsCtrl.items 
                    | filter:{ item_name: prosforaDetailsCtrl.itemNameFilter,  item_code: prosforaDetailsCtrl.itemCodeFilter } )
                    | limitTo:prosforaDetailsCtrl.itemsPerPage:prosforaDetailsCtrl.itemsPerPage*(prosforaDetailsCtrl.currentPage-1) | orderBy:'item_name'">

                        <td style="display:none">{{item.item_id}}</td>
                        <td>{{item.item_code}}</td>
                        <td>{{item.item_name}}</td>
                        <td>{{item.price_katharo}}</td>
                        <td>{{item.price_discount}}</td>
                        <td ng-if="prosforaDetailsCtrl.discounts.length === 0" >{{item.item_ekptwsi}} %</td>
                        <td>
                            
                            <span class="custom-alert alert-warning" id="item_tip{{item.item_id}}" style="display: none">
                                <span class="glyphicon glyphicon-exclamation-sign"  aria-hidden="true"></span>
                                μεγάλη ποσότητα
                            </span>                               
                    
                            
                            <input
                                class="quantity_input"
                                id="item{{item.item_id}}"
                                ng-form
                                name="theInput{{item.item_id}}"
                                dynamic-form-name dnfn-name-expression="'theInput' + item.id" 
                                ng-min="{{item.min_quantity}}"
                                check-for-min
                                type="number" ng-keypress="prosforaDetailsCtrl.changed($event)"
                                data-prosfora-category="{{prosforaDetailsCtrl.category}}"
                                type="number" min="0"
                                ng-change = "prosforaDetailsCtrl.addItem(item, this, prosforaDetailsCtrl.category === '10' ? true : theForm['theInput' + item.item_id].$valid)"
                                placeholder="{{item.min_quantity}}" uib-popover-html="'{{item.groupDiscountStr}}'" popover-trigger="focus"
                                ng-model="item.new_quantity" string-to-number>
                            
                            

                               
                                <div class="custom-alert-2 alert-danger" ng-if=" prosforaDetailsCtrl.category !== '10' && theForm['theInput' + item.item_id].$invalid && 
                                (item.min_quantity !== '0' && (item.new_quantity !== undefined || theForm['theInput' + item.item_id].$dirty && item.new_quantity === undefined))">
                                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                                    ελάχιστη ποσότητα :{{item.min_quantity}}
                                </div>                               
                        
                            
                        </td>
                    </tr>
                    <tr ng-if="prosforaDetailsCtrl.filteredItems.length === 0"><td colspan="6"><center>Δεν βρέθηκαν προιόντα με τα φίλτρα που δώσατε</center></td></tr>
                </tbody>
            </table>



        </form>
        
        <div class="row">

            <div class="form-inline col-md-4 text-left">
                <div class="form-group ">
                    <label>Προϊόντα ανά σελίδα:</label>
                    <select ng-model="prosforaDetailsCtrl.itemsPerPage" id="pageSize" class="form-control  input-group-sm">
                        <option value="10" selected>10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
                
            </div>


            <div class="col-md-5">
                <uib-pagination rotate = "false" max-size="5" class="pagination-sm pagination" total-items="filterData.length" ng-model="prosforaDetailsCtrl.currentPage"
			        previous-text="Προηγούμενη" next-text="Επόμενη" items-per-page="prosforaDetailsCtrl.itemsPerPage">
                </uib-pagination>
             </div>
             
        </div>

        <div class="row" >
            <div class="col-md-12 text-right">ΣΥΝΟΛΟ: {{prosforaDetailsCtrl.cart.totalCost()}} &euro;</div>
            <div class="col-md-12 text-right">
            
                
                
                <button type="button" ng-if="prosforaDetailsCtrl.category !== '8' && prosforaDetailsCtrl.category !== '10'&& prosforaDetailsCtrl.category !== '21' && prosforaDetailsCtrl.category !== '23' && prosforaDetailsCtrl.category !== '24' && prosforaDetailsCtrl.category !== '25' && prosforaDetailsCtrl.category !== '26' && prosforaDetailsCtrl.category !== '27' && prosforaDetailsCtrl.category !== '28' && prosforaDetailsCtrl.category !== '29' && prosforaDetailsCtrl.category !== '30'  && prosforaDetailsCtrl.category !== '31' && prosforaDetailsCtrl.category !== '32' && prosforaDetailsCtrl.category !== '33' && prosforaDetailsCtrl.category !== '34' && prosforaDetailsCtrl.category !== '35' && prosforaDetailsCtrl.category !== '36' && prosforaDetailsCtrl.category !== '38' && prosforaDetailsCtrl.category !== '39' && prosforaDetailsCtrl.category !== '40' && prosforaDetailsCtrl.category !== '41' && prosforaDetailsCtrl.category !== '42'  && prosforaDetailsCtrl.category !== '43' " ng-disabled="prosforaDetailsCtrl.cart.invalids.length > 0" class="btn btn-default" data-toggle="modal" data-target="#confirm-pending-submit">Προσωρινή Αποθήκευση</button>

                <button 
                type="button" 
                ng-disabled="(prosforaDetailsCtrl.category === '10' && prosforaDetailsCtrl.customInvalid == true) 
                || prosforaDetailsCtrl.cart.invalids.length > 0
                || (prosforaDetailsCtrl.category === '20' &&  prosforaDetailsCtrl.cart.totalCost() < 500 )
                || (prosforaDetailsCtrl.prosfora.id === 232 &&  prosforaDetailsCtrl.cart.totalCost() < 300 )
                || (prosforaDetailsCtrl.category === '24' &&  prosforaDetailsCtrl.cart.totalCost() < 500 )
                || (prosforaDetailsCtrl.category === '27' &&  prosforaDetailsCtrl.cart.totalCost() < 500 )
                || (prosforaDetailsCtrl.category === '32' &&  prosforaDetailsCtrl.cart.totalCost() < 600 )
                || (prosforaDetailsCtrl.category === '36' &&  prosforaDetailsCtrl.cart.totalCost() < 500 )
                || (prosforaDetailsCtrl.category === '39' &&  prosforaDetailsCtrl.cart.totalCost() < 300 )"

                class="btn btn-success" data-toggle="modal" data-target="#confirm-submit">Αποστολή Παραγγελίας</button>
            </div>
        </div>

        
     
        
        


    </div>
   

</div>



<div id="confirm-pending-submit" class="modal fade" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2s" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="items_header">
                  <center><b>Επιβεβαίωση Προσωρινής Αποθήκευσης</b></center>
              </h4>
          </div>

          <div class="modal-body">
            <p ng-if="prosforaDetailsCtrl.cart.items.length !== 0">Η παραγγελία σας θα μείνει σε αναμονή. Είστε σίγουροι? <br/></p>
            <p ng-if="prosforaDetailsCtrl.cart.items.length === 0">Το καλάθι είναι άδειο. Παρακαλώ επιλέξτε προϊόντα στο καλάθι<br/></p>
            
          </div>
          <div class="modal-footer">
            <button type="button" data-dismiss="modal" class="btn btn-success" ng-click="prosforaDetailsCtrl.submitForm(theForm, true)" id="btnSavePendingOrder" ng-disabled="prosforaDetailsCtrl.cart.items.length === 0">Ναί</button>
            <button type="button" data-dismiss="modal" class="btn">Άκυρο</button>
        </div>        
      </div>
  </div>
</div>


<div class="modal fade" id="confirm-submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="items_header">
                    <center><b>ΟΛΟΚΛΗΡΩΣΗ ΠΑΡΑΓΓΕΛΙΑΣ</b></center>
                </h4>
            </div>
            <div class="modal-body">

                
                <scrollable-table watch="prosforaDetailsCtrl.cart.items">
                    <table id="previewOrderTable" class="table table-striped table-bordered" ng-class="prosforaDetailsCtrl.cart.items.length === 0 ? 'empty-table' : ''">
                        <thead>
                            <tr>
                                <th sortable-header col="item_name">Περιγραφή</th>
                                <th sortable-header col="price_discount">Τιμή Μονάδος με έκπτωση</th>
                                <th sortable-header col="new_quantity">Ποσότητα</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat = "proion in prosforaDetailsCtrl.cart.items | orderBy:'item_name'">
                                <td class="name">{{proion.item_name}}</td>
                                <td class="price">{{proion.price_discount}}</td>
                                <td class="quantity">{{proion.new_quantity}}</td>
                            </tr>
                            <tr class="empty" ng-if="prosforaDetailsCtrl.cart.items.length === 0"><td class="col-xs-12" colspan="6"><center>Η παραγγελία σας είναι άδεια</center></td></tr>
                        </tbody>
                    </table>
                </scrollable-table>
                <div class="row" >
                    <div class="col-md-6 text-left">
                        <i id="troposplirwmis" style="float:left;">
                            Έκπτωση: 
                            <span ng-if="prosforaDetailsCtrl.discountValue !=0">{{prosforaDetailsCtrl.discountValue}}%</span>
                            <span ng-if="prosforaDetailsCtrl.discountValue ==0 && prosforaDetailsCtrl.prosfora.category !== '6'">Κανονική Πληρωμή</span>
                            <span ng-if="prosforaDetailsCtrl.discountValue ==0 && prosforaDetailsCtrl.prosfora.category === '6'">Διαφορετική ανά προϊον</span>
                            
                        </i>
                    </div>
                    <div class="col-md-6 text-right">
                        <p>
                            Σύνολο προϊόντων: {{prosforaDetailsCtrl.cart.totalProioda()}}
                        </p>
                        <p>
                            Καθαρή αξία παραγγελίας: {{prosforaDetailsCtrl.cart.totalCost()}} &euro;
                        </p>
                        
                    </div>
                    
                </div>
                                

            </div>
            <div class="modal-footer">

                <div class="row">
                    <div class="col-md-12">
                        <img ng-if="prosforaDetailsCtrl.dataLoading === true" 
                        src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" style="
                        float: left;
                        ">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Ακύρωση</button>
                        <button type="button" ng-click="prosforaDetailsCtrl.submitForm(theForm)"  id="finalsubmit" ng-disabled = " prosforaDetailsCtrl.acceptTerms === false || (prosforaDetailsCtrl.cart.items.length === 0 || prosforaDetailsCtrl.dataLoading === true)" class="btn btn-success">Καταχώρηση Παραγγελίας</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="checkbox" id="terms_check" ng-click="prosforaDetailsCtrl.toggleSelection($event, item.name)">
                        <span style="font-size: 12px;">Αποδέχομαι πλήρως τους <a ui-sref="terms" rel="noopener noreferrer" target="_blank">όρους χρήσης</a> της εφαρμογής.</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>