<div class="page-header">
    <div class="container">
        <h2>Όροι Χρήσης</h2>
    </div>
</div>


<div class="container terms-content">
<p>Οι κάτωθι όροι και προϋποθέσεις θα εφαρμόζονται για την χρήση του παρόντος ηλεκτρονικού καταστήματος «ΣΥΝΕΤΑΙΡΙΣΜΟΥ ΦΑΡΜΑΚΟΠΟΙΩΝ ΧΑΝΙΩΝ ΣΥΝΕΤΑΙΡΙΣΜΟΥ ΠΕΡΙΟΡΙΣΜΕΝΗΣ ΕΥΘΥΝΗΣ» και με το διακριτικό σήμα «ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ.». Κάθε χρήστης που εισέρχεται και συναλλάσσεται ή κάνει χρήση των υπηρεσιών του ηλεκτρονικού καταστήματος (στο εξής καλούμενος για συντομία "επισκέπτης" ή/και "χρήστης/μέλος"  αναλόγως του αν περιορίζεται σε επίσκεψη μόνον στο κατάστημα ή πραγματοποιεί και παραγγελία και αγορά προϊόντων και υπηρεσιών) θεωρείται ότι συναινεί και αποδέχεται ανεπιφύλακτα τους κατωτέρω όρους που εδώ διατυπώνονται, χωρίς καμία εξαίρεση. Εάν κάποιος χρήστης δεν συμφωνεί με αυτούς τους όρους, τότε οφείλει με ευθύνη του να απόσχει από την επίσκεψη, τη χρήση του ιστότοπου καθώς επίσης και από κάθε συναλλαγή ή χρήση των υπηρεσιών του ηλεκτρονικού καταστήματος.

<p>Ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. διατηρεί το δικαίωμα να τροποποιεί μονομερώς ή να ανανεώνει τους παρόντες όρους και τις προϋποθέσεις των συναλλαγών, που γίνονται μέσω του ηλεκτρονικού του καταστήματος, σύμφωνα με τις ανάγκες του και τα συναλλακτικά ήθη. Ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ αναλαμβάνει την υποχρέωση να ενημερώνει τους χρηστές για τυχόν τροποποιήσεις καθώς και για οποιαδήποτε αλλαγή, μέσα από την ιστοσελίδα του παρόντος ηλεκτρονικού καταστήματος.</p>

<h3>1.Δικαιώματα Πνευματικής Ιδιοκτησίας</h3>
<p>Ο παρών ιστότοπος είναι επίσημος διαδικτυακός τόπος (e-shop) πώλησης προϊόντων και παροχής υπηρεσιών μέσω διαδικτύου που δημιούργησε ο ΣΥΝΕΤΑΙΡΙΣΜΟΣ ΦΑΡΜΑΚΟΠΟΙΩΝ ΧΑΝΙΩΝ, ΣΥΝΕΤΑΙΡΙΣΜΟΣ ΠΕΡΙΟΡΙΣΜΕΝΗΣ ΕΥΘΥΝΗΣ, ο οποίος εκπροσωπείται νόμιμα, εδρεύει στις Μουρνιές Χανίων, οδός Νικολάου Πλαστήρα, με Α.Φ.Μ. 096005826 Δ.Ο.Υ ΧΑΝΙΩΝ, ηλεκτρονική διεύθυνση επικοινωνίας (e-mail) info@syfachanion.gr, και τηλεφωνική γραμμή εξυπηρέτησης του ηλεκτρονικού καταστήματος : 28210-71014 και 28210-76130.

<p>Όλο το περιεχόμενο των ιστοσελίδων, συμπεριλαμβανομένων εικόνων, γραφικών, φωτογραφιών, σχεδίων, κειμένων, παρεχόμενων υπηρεσιών και προϊόντων αποτελούν πνευματική ιδιοκτησία του ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. και προστατεύονται κατά τις σχετικές διατάξεις του ελληνικού δικαίου, του ευρωπαϊκού δικαίου και των διεθνών συμβάσεων.
Απαγορεύεται οποιαδήποτε αντιγραφή, αναλογική / ψηφιακή εγγραφή και μηχανική αναπαραγωγή, διανομή, μεταφορά, downloading, μεταποίηση, μεταπώληση, δημιουργία παράγωγης εργασίας ή παραπλάνηση του κοινού σχετικά με τον πραγματικό πάροχο του περιεχομένου των διαδικτυακών τόπων. Τυχόν αναπαραγωγή, επανέκδοση, φόρτωση, ανακοίνωση, διάδοση ή μετάδοση ή οποιαδήποτε άλλη χρήση του περιεχομένου με οποιοδήποτε τρόπο ή μέσο για εμπορικούς ή άλλους σκοπούς επιτρέπεται μόνο κατόπιν προηγούμενης γραπτής άδειας του ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ ή οποιουδήποτε άλλου νόμιμου δικαιούχου των ανωτέρω πνευματικών δικαιωμάτων. Τα ονόματα, εικόνες, λογότυπα και διακριτικά γνωρίσματα που αντιπροσωπεύουν τον ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. ή/και το ηλεκτρονικό του κατάστημα ή/και τρίτα μέρη συμβεβλημένα με αυτόν καθώς και τα προϊόντα ή τις υπηρεσίες του, είναι αποκλειστικά σήματα και διακριτικά γνωρίσματα του ή/και των άνω τρίτων μερών και προστατεύονται από τους ελληνικούς, κοινοτικούς και διεθνείς νόμους περί εμπορικών σημάτων και βιομηχανικής και πνευματικής ιδιοκτησίας. Σε κάθε περίπτωση η εμφάνισή και έκθεση τους στην ιστοσελίδα δεν θα πρέπει κατά κανένα τρόπο να εκληφθεί ως μεταβίβαση ή εκχώρηση άδειας ή δικαιώματος χρήσης τους.</p>

<h3>2.Απόρρητο Συναλλαγών και Προστασία Προσωπικών Δεδομένων</h3>
<p>Μετά τον Μάιο του 2018 θα βρίσκεται εν ισχύ ο νέος Κανονισμός για την Προστασία Δεδομένων (υπ΄αριθ. 2016/679 Κανονισμός ΕΕ του Ευρωπαϊκού Κοινοβουλίου και του Συμβουλίου), προς τον οποίο ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. βρίσκεται σε πλήρη συμμόρφωση.
Με το παρόν κείμενο ζητάμε τη συναίνεσή σας στην επεξεργασία των προσωπικών σας δεδομένων από τον ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ. για όλες τις παραγγελίες και τις ενέργειες που θα εκτελέσετε κατά την πλοήγηση στο site, τη δημιουργία προσωπικού προφίλ του επισκέπτη και την τήρηση αρχείου με τα δεδομένα αυτά. Σκοπός της επεξεργασίας είναι η ανάπτυξη, βελτίωση και προώθηση των υπηρεσιών μας, ενώ είναι απαραίτητη για την ομαλή διεξαγωγή των συναλλαγών μεταξύ του ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ. και του χρήστη/μέλους.</p>

<p><u>ΚΑΤΗΓΟΡΙΕΣ ΔΕΔΟΜΕΝΩΝ ΠΟΥ ΘΑ ΣΥΛΛΕΓΟΥΜΕ</u></p>
<p>Σε περίπτωση που συναινέσετε στην επεξεργασία των προσωπικών σας δεδομένων για την εξυπηρέτηση του ως άνω σκοπού, οι κατηγορίες των δεδομένων που θα συλλέγουμε θα περιλαμβάνουν τα εξής: τα στοιχεία φυσικού ή νομικού προσώπου που μας δίνετε κατά την εγγραφή ή κατά την παραγγελία κάποιου προϊόντος (όνομα, επώνυμο, ημερομηνία γέννησης, διεύθυνση, ταχυδρομικός κώδικας, ΑΦΜ κλπ), δεδομένα που αναφέρονται στον τρόπο σύνδεσής σας και στην παραμετροποίηση των συσκευών σας, επικοινωνίες που πραγματοποιήθηκαν με τις υπηρεσίες μας είτε τηλεφωνικά είτε με άλλους τρόπους (επιστολές, e-mail κλπ), πληροφορίες που αποκτούμε από τη χρήση cookies ή παρόμοιων τεχνολογιών, πληροφορίες που μας δίνετε εσείς μέσα από αξιολογήσεις, παραγγελίες κλπ.

<p><u>ΑΣΦΑΛΕΙΑ ΕΠΕΞΕΡΓΑΣΙΑΣ</u></p>
<p>Η ασφάλεια των προσωπικών σας δεδομένων και η τήρηση του απορρήτου των επικοινωνιών είναι εξαιρετικά σημαντική για τον ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. Λαμβάνουμε όλα τα κατάλληλα οργανωτικά και τεχνικά μέτρα για να εξασφαλίσουμε ότι τα δεδομένα που συλλέγουμε στο πλαίσιο της παρούσας δήλωσης υποβάλλονται σε επεξεργασία σύμφωνα με τις απαιτήσεις της νομοθεσίας για την προστασία και τη διατήρηση των προσωπικών σας δεδομένων. Επιλέγοντας το σχετικό πεδίο στην αντίστοιχη επιλογή που διατίθεται κατωτέρω, συναινείτε στη διατήρηση των δεδομένων σας για χρονικό διάστημα έως και 5 έτη μετά τη λήξη της εκάστοτε συμβατικής σας σχέσης με τον ΣΥΦΑΧ ΣΥΝ.ΠΕ, με σκοπό την καλύτερη εξυπηρέτησή σας, την ενημέρωσή σας για νέα προϊόντα, υπηρεσίες και προσφορές σύμφωνα με τις προσωπικές σας ανάγκες και προτιμήσεις. Σε περίπτωση που δεν επιλέξετε το σχετικό πεδίο, τα δεδομένα σας διατηρούνται για όσο χρονικό διάστημα επιτρέπεται/επιβάλλεται από την ισχύουσα νομοθεσία και κατόπιν διαγράφονται με τρόπο που δεν επιτρέπει την επανάκτησή τους. 
Οι συναλλαγές διέπονται από τις αρχές της εχεμύθειας και του απορρήτου. Οι ίδιες βασικές αρχές που διέπουν τα συναλλακτικά ήθη ισχύουν και στην περίπτωση του e-commerce (ηλεκτρονικού εμπορίου). Όλες οι πληροφορίες που διαβιβάζονται από τον χρηστή /μέλος στον ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. είναι εμπιστευτικές και ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. έχει λάβει όλα τα απαραίτητα τεχνικά μέτρα, πολιτικές και διαδικασίες, ώστε να γίνεται χρήση τους μόνο στο μέτρο που αυτό κρίνεται αναγκαίο στο πλαίσιο των παρεχόμενων υπηρεσιών. Μερικά από τα μέτρα που έχουν ληφθεί είναι τα ακόλουθα:
<ul>
<li><span>Μόνο εξουσιοδοτημένοι υπάλληλοι έχουν πρόσβαση στις πληροφορίες των συναλλαγών σας με τη χρήση προσωπικών κωδικών και μόνο όποτε αυτό είναι αναγκαίο, π.χ. για τη διεκπεραίωση των αιτήσεών σας.</span></li>
<li><span>Στην περίπτωση που ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. χρησιμοποιεί τρίτους για την υποστήριξη των συστημάτων του, φροντίζει για την εξασφάλιση του απορρήτου.</span></li>
<li><span>Ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. δεν αποκαλύπτει τα στοιχεία των πελατών και των συναλλαγών τους, εκτός αν έχει έγγραφη εξουσιοδότηση από εκείνους ή αυτό επιβάλλεται από δικαστική απόφαση ή από λόγους δημοσίας τάξης.</span></li>
<li><span>Ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ.  χρησιμοποιεί την μέθοδο ψευδωνυμοποίησης των δεδομένων σας. Υπό τον όρο ψευδωνυμοποίηση νοείται η επεξεργασία των προσωπικών δεδομένων με τέτοιο τρόπο, ώστε να μην είναι πλέον εφικτό να αναγνωριστεί συγκεκριμένο φυσικό πρόσωπο χωρίς τη χρήση πρόσθετων πληροφοριών, εφόσον οι εν λόγω συμπληρωματικές πληροφορίες διατηρούνται χωριστά και υπόκεινται σε τεχνικά και οργανωτικά μέτρα προκειμένου να διασφαλιστεί ότι δεν μπορούν να αποδοθούν σε ταυτοποιημένο ή ταυτοποιήσιμο φυσικό πρόσωπο, στις οποίες έχουν πρόσβαση ειδικά εξουσιοδοτημένα πρόσωπα που δεσμεύονται από τους όρους του απορρήτου και της εχεμύθειας.</span></li>
</ul>

<p><u>ΔΙΚΑΙΩΜΑΤΑ ΧΡΗΣΤΗ</u></p>
<p>Μπορείτε να ζητήσετε οποιαδήποτε στοιχεία τηρούνται για εσάς, την φορητότητά τους (δηλαδή την παράδοσή τους σε εσάς σε κατάλληλο μορφότυπο ώστε να είναι εφικτή τεχνικά η μεταβίβασή τους σε άλλον υπεύθυνο επεξεργασίας), την διαγραφή τους εφόσον δεν χρειάζονται πλέον για την παροχή κάποιας υπηρεσίας, τον περιορισμό της επεξεργασίας τους καθώς και την διόρθωσή τους σε περίπτωση που μπορείτε να τεκμηριώσετε την ύπαρξη λάθους. Μπορείτε να ανακαλείτε την συναίνεσή σας (χωρίς αναδρομικό αποτέλεσμα) ακολουθώντας τις οδηγίες από το μενού επιλογών.
Για τη δική σας ασφάλεια, θα πρέπει και εσείς να χειρίζεστε όλες τις πληροφορίες που παρέχονται μέσω της υπηρεσίας ως εμπιστευτικές και απόρρητες και να μην προβαίνετε σε οποιαδήποτε αποκάλυψή τους σε τρίτα πρόσωπα.</p>
<p>Το ηλεκτρονικό κατάστημα του ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. λειτουργεί σύμφωνα με την ισχύουσα ελληνική και κοινοτική νομοθεσία και τηρεί με ασφάλεια τα προσωπικά σας δεδομένα. Τα στοιχεία αυτά σε εξαιρετικά σπάνιες και ειδικές περιπτώσεις δύναται να γνωστοποιούνται και σε συνεργαζόμενες με τον ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. επιχειρήσεις, με σκοπό την υποστήριξη, προώθηση και εκτέλεση της συναλλακτικής σχέσης αλλά πάντοτε διαφυλάσσεται απόλυτα ο προσωπικός τους χαρακτήρας. </p>
<p>Σε οποιαδήποτε χρονική στιγμή ο χρήστης διατηρεί το δικαίωμα εναντίωσης στην περαιτέρω επεξεργασία των στοιχείων του βάσει του άρθρου 21 του 2016/679 Κανονισμού (ΕΕ) του Ευρωπαϊκού Κοινοβουλίου και του Συμβουλίου για την Προστασία Δεδομένων, εκτός αν ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. καταδείξει επιτακτικούς και νόμιμους λόγους για την επεξεργασία οι οποίοι υπερισχύουν των συμφερόντων , των δικαιωμάτων και των ελευθεριών του υποκειμένου των δεδομένων ή για τη θεμελίωση, άσκηση ή υποστήριξη νομικών αξιώσεων.</p>
	<p>Επιπλέον διατηρείτε το δικαίωμα υποβολής έγγραφης καταγγελίας στην αρμόδια εποπτική αρχή αναφορικά με την προστασία των προσωπικών δεδομένων, δηλαδή στην Αρχή Προστασίας Δεδομένων Προσωπικού Χαρακτήρα (Λ. Κηφισίας 1-3, τ.κ. 11523, Αθήνα, +30 210 6475600, email επικοινωνίας contact@dpa.gr)</p>

<h3>3.Παρεχόμενες πληροφορίες & Προϊόντα</h3>
<p>Ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ δεσμεύεται ως προς την ποιότητα, την πληρότητα και την εγκυρότητα των πληροφοριών που παρατίθενται στην ιστοσελίδα του τόσο όσον αφορά τα ακριβή στοιχεία που εκτίθενται όσο και των παρεχομένων, από το ηλεκτρονικό κατάστημα του, υπηρεσιών, υπό την επιφύλαξη τυχόν τεχνικών ή τυπογραφικών λαθών, που δεν μπορούν να προβλεφθούν ή έχουν προκύψει ακούσια ή λόγω διακοπών λειτουργίας της ιστοσελίδας εκ λόγων ανωτέρας βίας.</p>

<h3>4.Περιορισμός ευθύνης</h3>
<p>Ο ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ δεν ευθύνεται έναντι των πελατών / χρηστών για ζημιές που τυχόν προκύψουν από την εκτέλεση ή μη της παραγγελίας τους (εκτός των περιπτώσεων της παραγράφου 7. «Υπαναχώρηση / Επιστροφή – Αντικατάσταση Προϊόντων»). Επίσης επιφυλάσσεται ως προς το χρόνο παράδοσης των εμπορευμάτων στις περιπτώσεις ανωτέρας βίας. Το ηλεκτρονικό κατάστημα ουδεμία εγγύηση μπορεί να παράσχει για τη διαθεσιμότητα των προϊόντων, αλλά εγγυάται την έγκαιρη ενημέρωση των συναλλασσομένων περί της μη διαθεσιμότητας τους. Το ηλεκτρονικό κατάστημα του ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ παρέχει το περιεχόμενο (π.χ. πληροφορίες, ονόματα, φωτογραφίες, απεικονίσεις, κ.λ.π.), τα προϊόντα και τις υπηρεσίες που διατίθενται μέσω του δικτυακού τόπου «όπως ακριβώς έχουν». Σε καμία περίπτωση το ηλεκτρονικό κατάστημα του ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. δεν φέρει ευθύνη για τυχόν απαιτήσεις νομικής ή αστικής ή/και ποινικής φύσεως ούτε για τυχόν ζημία (θετική, ειδική ή αποθετική η οποία ενδεικτικά και όχι περιοριστικά, διαζευκτικά ή/και σωρευτικά συνίσταται σε απώλεια κερδών, δεδομένων, διαφυγόντα κέρδη, χρηματική ικανοποίηση κ.λ.π.) από επισκέπτες του δικτυακού τόπου ή τρίτους από αιτία που έχει σχέση με τη λειτουργία ή μη ή/και τη χρήση του δικτυακού τόπου ή/και σε αδυναμία παροχής υπηρεσιών ή/και πληροφοριών που διατίθενται από αυτόν ή/και από τυχόν μη επιτρεπόμενες παρεμβάσεις τρίτων σε προϊόντα ή/και υπηρεσίες ή/και πληροφορίες που διατίθενται μέσω αυτού.</p>
<p>Ο ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ. λαμβάνει κάθε προσήκον και ευλόγως αναμενόμενο μέτρο, έτσι ώστε τα στοιχεία και οι πληροφορίες που εμπεριέχονται στην ιστοσελίδα του να διέπονται από ακρίβεια, πληρότητα, χρονική εγγύτητα, επάρκεια, διαθεσιμότητα και αξιοπιστία.</p>
<p>Η διασύνδεση της ιστοσελίδας με άλλες ιστοσελίδες μέσω συνδέσμων (links) πραγματοποιείται μόνο για τη διευκόλυνση των επισκεπτών. Ο ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ. δεν ευθύνεται για οποιαδήποτε άμεση ή έμμεση ζημία των επισκεπτών, που προκύπτει από την αξιοποίηση της δυνατότητας διασύνδεσης με άλλη ιστοσελίδα μέσω συνδέσμων (links) ή από τη χρήση στοιχείων και πληροφοριών, που εμπεριέχονται σε κάθε παρόμοια ιστοσελίδα.</p>
<p>Ο ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ. δεν ευθύνεται, για οποιαδήποτε άμεση ή έμμεση, θετική ή αποθετική ζημία των επισκεπτών της ιστοσελίδας του, η οποία οφείλεται σε παράνομες πράξεις τρίτων (π.χ. υποκλοπές ή αποκρυπτογράφηση κωδικών και δεδομένων), στη διάδοση ιών (viruses) κατά τη διάρκεια χρήσης της ιστοσελίδας ή αναπαραγωγής (download) στοιχείων του περιεχομένου της ή σε προβλήματα, που ενδέχεται να παρουσιασθούν κατά τη χρήση των ηλεκτρονικών υπολογιστών (π.χ. απώλεια δεδομένων κλπ.).</p>
<p>Απαγορεύεται η χωρίς την έγγραφη άδεια του ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ. ή τρίτου δικαιούχου χρήση των εμπορικών σημάτων και λογοτύπων (logos), που εμπεριέχονται στην ιστοσελίδα του.
Ο ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ. θα διατηρεί σε αρχείο και θα επεξεργάζεται τυχόν προσωπικά δεδομένα των επισκεπτών των ηλεκτρονικών του σελίδων και των πελατών του, για την αποστολή ενημερωτικών επιστολών για τυχόν προσθήκη ή τροποποίηση τους.</p>

<h3>5.Ευθύνη Χρήστη</h3>
<p>Οι χρήστες της ιστοσελίδας του ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ αποδέχονται ότι δεν θα χρησιμοποιούν αυτές και το ηλεκτρονικό κατάστημα του για αποστολή, δημοσίευση, αποστολή με e-mail ή μετάδοση με άλλους τρόπους οποιουδήποτε περιεχομένου είναι παράνομο, βλαβερό, απειλητικό, προσβλητικό, ενοχλητικό, συκοφαντικό, δυσφημιστικό, χυδαίο, άσεμνο, λιβελογραφικό, αποτελεί παραβίαση του απορρήτου κάποιου άλλου, δείχνει εμπάθεια, ή εκφράζει φυλετικές, εθνικές ή άλλες διακρίσεις, δύναται να προκαλέσει βλάβες σε ανήλικους με οποιονδήποτε τρόπο, δεν δικαιούται να μεταδοθεί σύμφωνα με την νομοθεσία ή τις συμβατικές ή διαχειριστικές σχέσεις (όπως εσωτερικές πληροφορίες, ιδιοκτησιακές και εμπιστευτικές πληροφορίες που αποκτήθηκαν ή αποκαλύφθηκαν ως μέρος εργασιακών σχέσεων ή που καλύπτονται σε συμφωνίες εμπιστευτικότητας), παραβιάζει οποιαδήποτε ευρεσιτεχνία, εμπορικό σήμα, εμπορικό μυστικό, πνευματικά δικαιώματα ή άλλα ιδιοκτησιακά δικαιώματα τρίτων, περιέχει ιούς λογισμικού ή οποιουσδήποτε άλλους κώδικες, αρχεία ή προγράμματα, που έχουν σχεδιαστεί με σκοπό την διακοπή, την πρόκληση βλάβης, την καταστροφή ή τον εξοπλισμό της λειτουργίας οποιουδήποτε λογισμικού ή υλικού υπολογιστών, ηθελημένα ή αθέλητα παραβαίνει την ισχύουσα ελληνική και κοινοτική νομοθεσία και των διατάξεων αυτής, δύναται να παρενοχλήσει τρίτους με οποιοδήποτε τρόπο και οποιοδήποτε περιεχόμενο χρησιμοποιείται για συλλογή ή αποθήκευση προσωπικών δεδομένων σχετικά με άλλους χρήστες.</p>

<h3>6. Αγορά Προϊόντων</h3>
<p>Ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. κάνει κάθε δυνατή προσπάθεια να παρέχει υπηρεσίες υψηλής ποιότητας αλλά παρόλα αυτά δεν ευθύνεται για τυχόν λάθη σε τιμές και χαρακτηριστικά προϊόντων και δεν μπορεί να εξασφαλίσει, ότι δεν θα υπάρξουν διακοπές λειτουργίας της ιστοσελίδας ή «ανθρώπινα» λάθη κατά την ενημέρωση / αναγραφή της τιμής ενός προϊόντος. Για την ασφάλεια και την αποτελεσματικότητα των αγορών σας καλούμε εφόσον διαπιστώσετε ότι κάποιο προϊόν προσφέρεται σε ασυνήθιστα χαμηλή ή υψηλή τιμή σε σχέση με την αγοραία αξία του, πριν προχωρήσετε στην παραγγελιά του να επικοινωνήστε με τον Συνεταιρισμό στο τηλέφωνο 28210-71014 και 28210-7130 ή μέσω της φόρμας ηλεκτρονικού ταχυδρομείου του δικτυακού τόπου.</p>

<h3>7.Υπαναχώρηση / Επιστροφή – Αντικατάσταση Προϊόντων</h3>
<p>Οι συμβληθέντες χρήστες της ιστοσελίδας του ηλεκτρονικού καταστήματος του ΣΥ.ΦΑ.Χ ΣΥΝ.ΠΕ έχουν το δικαίωμα να επιστρέψουν τα προϊόντα που αγόρασαν και να ζητήσουν την αντικατάσταση τους α) σε όλες τις περιπτώσεις στις οποίες με αποδεδειγμένη υπαιτιότητα του ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ πουλήθηκαν λανθασμένα προϊόντα ή προϊόντα κακής και ελαττωματικής ποιότητας (λάθος στην λήψη της παραγγελίας, στην τιμολόγηση, στην αποστολή, κατεστραμμένα κατά την μεταφορά ή με κακή συσκευασία) και β) σε όλες τις περιπτώσεις στις οποίες υπήρξε πρόβλημα / πραγματικό ελάττωμα στο προϊόν (λειτουργίας ή ποιότητας) το οποίο καλύπτει η εγγύηση του προϊόντος. </p>
<p>Δεν εμπίπτουν στην παρούσα διάταξη προϊόντα που καλύπτονται από εγγυήσεις τρίτων όπως από τον κατασκευαστή του προϊόντος ή τον αντιπρόσωπο του.</p>

<p>Σε κάθε περίπτωση και για όλες τις ανωτέρω περιπτώσεις το ανώτατο χρονικό περιθώριο επιστροφής για αντικατάσταση δεν δύναται να παραταθεί πέραν των δέκα (10) ημερολογιακών ημερών από την ημερομηνία παραλαβής. Επιπλέον, για όλες τις περιπτώσεις θα πρέπει το προϊόν προς αντικατάσταση-επισκευή να συνοδεύεται απαραίτητα με το πρωτότυπο τιμολόγιο αγοράς. Για όλες τις ανωτέρω περιπτώσεις τα προς αντικατάσταση-επισκευή προϊόντα πρέπει να βρίσκονται στην κατάσταση που παραλήφθηκαν από τον πελάτη, πλήρη και χωρίς φθορές και η συσκευασία τους να είναι αυτή που κανονικά συνοδεύει το προϊόν και να είναι σε άριστη κατάσταση, μαζί με όλα τα έγγραφα τα οποία συνόδευαν το προϊόν (π.χ. Τιμολογίου, Δελτίου Αποστολής κ.ο.κ). Πριν από κάθε επιστροφή συνίσταται να προηγηθεί συνεννόηση με τον ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. Σε κάθε περίπτωση η επιστροφή και αντικατάσταση είναι εφικτή υπό τις κάτωθι προϋποθέσεις:</p>
    <ul>
<li><span>επικοινωνήσετε την ίδια μέρα ή την επομένη εργάσιμη ημέρα με τον ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ</span></li>
<li><span>το προϊόν δεν έχει χρησιμοποιηθεί</span></li>
<li><span>το προϊόν συνοδεύεται από όλα τα απαραίτητα έγγραφα, που αποδεικνύουν την συναλλαγή (π.χ. Τιμολόγιο, Δελτίο Αποστολής κ.ο.κ)</span></li>
    </ul>
<p>Σε περίπτωση που τα προϊόντα δεν επιστραφούν εντός 10 ημερών τότε ο ΣΥ.ΦΑ.Χ. ΣΥΝ.ΠΕ. δύναται να μην αποδεχτεί την όποια επιστροφή και την αντικατάσταση.</p>

<h3>8. Ακύρωση Παραγγελίας</h3>
<p>Ακύρωση της παραγγελίας δύναται να γίνει στις κάτωθι περιπτώσεις:</p>
    <ul>

<li><span>Εάν έχει ολοκληρωθεί η ηλεκτρονική παραγγελία αλλά δεν έχει αποσταλεί ακόμα το προϊόν μπορείτε να καλέστε το 28210-71014 και 28210-76130 και ένας συνεργάτης μας θα αναλάβει την ακύρωσή της παραγγελιάς σας με προϋπόθεση να μην έχει ξεκινήσει η εκτέλεση της.</span></li>
<li><span>Μετά την παραλαβή του προϊόντος, καλέστε μας στο 28210.71014 ή στο 28210.76130 ή επικοινωνήστε μέσω της φόρμας ηλεκτρονικού ταχυδρομείου του δικτυακού τόπου, εξηγώντας το λόγο που επιθυμείτε την ακύρωση της παραγγελιάς. Ένας συνεργάτης μας θα σας εξυπηρετήσει άμεσα και θα σας ενημερώσει για όλες τις επιλογές σας.</span></li>
    </ul>

<h3>9. Τρόποι Πληρωμής</h3>
<p>Ο τρόπος πληρωμής ορίζεται σε προπληρωμή του πλήρες ποσού πριν την αποστολή της παραγγελίας με κατάθεση σε έναν από τους παρακάτω τραπεζικούς λογαριασμούς και αποστολή του αντιγράφου της τραπεζικής εντολής πληρωμής με fax στο 28210-94090. Με την λήψη του αντίγραφου της τραπεζικής εντολής πληρωμής, σας αποστέλλουμε την παραγγελία σας.</p>

<p>Προεξοφλήστε την παραγγελία σας σε ένα από τους ακόλουθους λογαριασμούς των Τραπεζών που συνεργαζόμαστε :</p>
<p>
 <strong>ΠΕΙΡΑΙΩΣ: </strong>GR 09 0172 7580 0057 5801 7353 771<br>
 <strong>ALPHA BANK: </strong>GR 74 0140 6600 6600 0232 0000 032<br>
 <strong>EUROBANK: </strong>GR 93 0260 2870 0004 6020 0541 576 <br>
 <strong>ΕΘΝΙΚΗ: </strong>GR 39 0110 4950 0000 4954 7853 124 <br>
 <strong>ΧΑΝΙΩΝ: </strong>GR 21 0690 0010 0000 0010 5552 002<br>
 </p>
<br><br><br>
    
</div>