body {
    font-family: "Open Sans",sans-serif;
    padding-top:50px;
    background-color:#f0f2eb; 
}

.items_wrapper{
   margin-top:50px;
   text-align: center;
}
.items_header {
    color:red;
    font-weight: 700;
}

.navbar .container{
        margin-top: 5px;
}

.pointer:hover {
    cursor: pointer;
}


#orders_table > thead > tr > td {
    font-weight: 700;
}
#prosfora_items > thead > tr > th > center > input {
    font-weight: 400;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.error {
    color:#a94442;
}

.custom-alert {
    padding: 7px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.custom-alert-2 {
    padding: 7px;
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
}


.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}

.quantity_input {
    text-align: center;
}

input.ng-invalid-ng-min{
    border:1px solid #a94442;
}

input.ng-valid-ng-min{
    border:1px solid #3c763d;
}

.inline {
    display: inline;
}

.inline-value{
     background-color: #eee; border:1px solid #ddd; border-radius: 5px;padding:5px 15px 5px 15px;display:inline-block;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}


@media (min-width: 768px){
    #confirm-submit > .modal-dialog{
        width: 720px;
        margin: 30px auto;
    }
}

.items_header{
    margin-bottom:15px;
}

table .price {
    width: 32.5%;    
}

table .quantity {
    width: 22.5%;    
}
table .name {
    width: 55%;    
}


tr.empty td{
    float:left;
}

.table-fixed tr.empty{
    display: unset;
}

.empty-table tbody{
    display: unset;
}

.login-panel {
    margin-top: 25%;
}

.dl-horizontal {
    margin-bottom:0px;
}

@media (min-width: 768px){
    .dl-horizontal dd {
        margin-left:0px;
    }
}

#pageSize{
    margin:20px 0;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #f5f5f5;
  background-color: #222;
  border-color: #080808;
}

.footer p {
    margin: 20px 0;
    font-size:12px;
}

.footer a.terms{
    text-decoration: none;
    
}

.mainContainer{
    margin-top:50px;
  
}

.footer a.terms:hover{
    cursor: pointer;
    color: #777;
    text-decoration:underline;
}

.page-header {
    background: #fafafa;
    color: #666;
    font-size: 13px;
    border-bottom: 1px solid #ebebeb;
    margin-top:0px;
    padding-top:30px;
}

ol.lower-roman{
    list-style-type: lower-roman;
    font-weight: bold;
}
ol.upper-roman{
    list-style-type: upper-roman;
    font-weight: bold;
}

.no-bold {
    font-weight: normal;
}

.terms-content ol span {
    font-weight: normal;
}

.terms-content p {
    text-align: justify;
}

.syfax {
    border-left: 5px solid #80c141;
    background-color:#f6f6f6;
}

.logo{
    max-height: 40px;
}
.syfax-logo{
    font-weight: bold;
    padding-top:0px;
    padding-bottom:0px;
}

.syfax-title{
    line-height: 47px;
    vertical-align: middle;
    color:#fff;
}

.little-margin{
    margin-top:5px;
    margin-bottom:5px;
}

.navbar {
    min-height: 60px;
}

.caret-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-bottom: 4px solid;
    
    display: inline-block;
    margin-left: 2px;
    vertical-align: middle;
}